.marker-cntr {
	position: relative;
	width: 70px;
}

.info-window {
	position: absolute;
	top: 0px;
	/* height: 60px; */
	width: 200px;
	background: white;
	right: -200px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 5px 10px;
	box-sizing: border-box;
	word-break: break-all;
}

.marker-pin {
	width: 60px;
}

.close-icon {
	width: 30px;
}

.info-word-fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-word-fields > p {
	margin: 5px;
}
